





// Colors via https://yeun.github.io/open-color

$color-gray-50: #f8f9fa;
$color-gray-100: #f1f3f5;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #868e96;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-blue-50: #e7f5ff;
$color-blue-100: #d0ebff;
$color-blue-200: #a5d8ff;
$color-blue-300: #74c0fc;
$color-blue-400: #4dabf7;
$color-blue-500: #339af0;
$color-blue-600: #228be6;
$color-blue-700: #1c7ed6;
$color-blue-800: #1971c2;
$color-blue-900: #1864ab;

$color-green-50: #ebfbee;
$color-green-100: #d3f9d8;
$color-green-200: #b2f2bb;
$color-green-300: #8ce99a;
$color-green-400: #69db7c;
$color-green-500: #51cf66;
$color-green-600: #40c057;
$color-green-700: #37b24d;
$color-green-800: #2f9e44;
$color-green-900: #2b8a3e;

$color-red-50: #fff5f5;
$color-red-100: #ffe3e3;
$color-red-200: #ffc9c9;
$color-red-300: #ffa8a8;
$color-red-400: #ff8787;
$color-red-500: #ff6b6b;
$color-red-600: #fa5252;
$color-red-700: #f03e3e;
$color-red-800: #e03131;
$color-red-900: #c92a2a;

$color-violet-50: #f3f0ff;
$color-violet-100: #e5dbff;
$color-violet-200: #d0bfff;
$color-violet-300: #b197fc;
$color-violet-400: #9775fa;
$color-violet-500: #845ef7;
$color-violet-600: #7950f2;
$color-violet-700: #7048e8;
$color-violet-800: #6741d9;
$color-violet-900: #5f3dc4;

$color-yellow-50: #fff9db;
$color-yellow-100: #fff3bf;
$color-yellow-200: #ffec99;
$color-yellow-300: #ffe066;
$color-yellow-400: #ffd43b;
$color-yellow-500: #fcc419;
$color-yellow-600: #fab005;
$color-yellow-700: #f59f00;
$color-yellow-800: #f08c00;
$color-yellow-900: #e67700;

// UI Colors

$color-button-background: $color-violet-500;

$color-footer-background: $color-gray-900;
$color-footer-links: $color-blue-400;

$color-header-background: $color-gray-900;
$color-header-links: $color-gray-400;